nav > ul > li {
  display: inline;
  margin-right: 15px;
}

nav li > a {
  text-decoration: none;
}

footer{
  margin-top: 30px;
  text-align: center;
}

/* Navigation Menu Style */

nav > ul {
  display: flex;
}
nav li {
 list-style: none;
 margin-right: 10px;
 padding: 5px;
}
nav li:hover {
background-color: rgb(161, 161, 164);
}
nav li a {
 text-decoration: none;
 color: black;
}

/* Nested Menu Styles */

nav li .dropdown {
  display: none;
  position: absolute;
  background-color: rgb(214, 206, 197);
  padding-left: 10px;
  }
  nav li:hover > .dropdown {
    display: block;
  }
  